---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Michail Lois">
  <div class="bg-neutral px-2 py-4 rounded-2xl text-center">
    <span class="typewriter block max-w-max text-neutral-content"
      >Hello, I’ m a gamedeveloper</span
    >
  </div>

  <div class="flex flex-col md:flex-row items-center gap-8 h-auto md:h-52">
    <div class="basis-2/3 h-full flex justify-center items-start">
      <img class="rounded-full" src="assets/Image.png" />
    </div>

    <div class="flex flex-col h-full gap-4 w-full">
      <h1 class="font-bold text-2xl">Michael Lois</h1>
      <ul class="space-y-4 bg-neutral p-4 rounded-2xl">
        <li class="text-neutral-content flex gap-2">
          <svg
            class="fill-current w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            version="1.0"
            viewBox="0 0 512 512"
            ><path
              d="M41.2 2c-9.7 2.6-17.3 7-24.8 14.4C8.9 24 4.5 31.5 2 41.6 0 49.2 0 53.1 0 256s0 206.8 2 214.4c2.5 10.1 6.9 17.6 14.4 25.2 7.6 7.5 15.1 11.9 25.2 14.4 7.6 2 11.5 2 214.4 2s206.8 0 214.4-2c10.1-2.5 17.6-6.9 25.2-14.4 7.5-7.6 11.9-15.1 14.4-25.2 2-7.6 2-11.5 2-214.4s0-206.8-2-214.4c-2.6-10.3-6.9-17.7-14.9-25.6-7.9-7.7-14.2-11.4-24.7-14-7.6-2-11.7-2-214.8-1.9C54.6.1 48.3.2 41.2 2zm200.6 95.6-.3 34.6-31 17.9c-21.1 12.2-31.1 18.5-31.3 19.8-.2 1.5 7.2 6.1 37.4 23.6 20.7 12 38.5 22 39.5 22.2 1.1.3 15.3-7.3 38.6-20.8 20.2-11.6 37.6-21.9 38.5-22.7 1.2-1 1.5-2 .9-3.1-.5-.9-14.9-9.7-32-19.6l-31.1-18V97.2c0-28.6.2-34.3 1.4-34 .7.2 35.8 20.3 78 44.8l76.6 44.5v90.3c0 49.7-.3 90.1-.7 89.9-.5-.3-12.3-6.9-26.3-14.7-14-7.8-27.2-15.3-29.2-16.6L367 299l-.2-36.8c-.3-36.3-.3-36.7-2.3-36.6-2.3 0-71.5 39.4-75.3 42.8l-2.2 2 .2 45c.3 44.7.3 45.1 2.3 45 1.2 0 15.9-8 32.8-17.8l30.7-17.8 29.1 16.9c16 9.3 29.1 17.3 29.1 17.8.1.5-34.8 21.1-77.3 45.6l-77.4 44.7-5-2.8c-41.9-23.9-149.4-86.7-149.6-87.5-.1-.5 12.9-8.5 28.9-17.8l29.1-16.9 30.6 17.7c16.8 9.8 31.3 17.8 32.3 17.9 1.6.1 1.7-3.2 2-45.5.2-41.4.1-45.8-1.4-47-.9-.8-18.2-10.9-38.3-22.6-33-19.1-36.8-21.1-38.6-19.9-1.9 1.3-2 2.7-2.5 37.7l-.5 36.4-28 16.3c-15.4 9-28.6 16.6-29.2 16.9-1 .4-1.3-17.9-1.3-89.8v-90.4l77.8-44.7c42.7-24.6 78-44.7 78.5-44.8.4 0 .6 15.6.5 34.6z"
            ></path></svg
          >
          Game development on UNITY
        </li>
        <li class="text-neutral-content flex gap-2">
          <svg
            class="fill-current w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            version="1.0"
            viewBox="0 0 512 512"
            ><path
              d="M41.2 2c-9.7 2.6-17.3 7-24.8 14.4C8.9 24 4.5 31.5 2 41.6 0 49.2 0 53.1 0 256s0 206.8 2 214.4c2.5 10.1 6.9 17.6 14.4 25.2 7.6 7.5 15.1 11.9 25.2 14.4 7.6 2 11.5 2 214.4 2s206.8 0 214.4-2c10.1-2.5 17.6-6.9 25.2-14.4 7.5-7.6 11.9-15.1 14.4-25.2 2-7.6 2-11.5 2-214.4s0-206.8-2-214.4c-2.6-10.3-6.9-17.7-14.9-25.6-7.9-7.7-14.2-11.4-24.7-14-7.6-2-11.7-2-214.8-1.9C54.6.1 48.3.2 41.2 2zm200.6 95.6-.3 34.6-31 17.9c-21.1 12.2-31.1 18.5-31.3 19.8-.2 1.5 7.2 6.1 37.4 23.6 20.7 12 38.5 22 39.5 22.2 1.1.3 15.3-7.3 38.6-20.8 20.2-11.6 37.6-21.9 38.5-22.7 1.2-1 1.5-2 .9-3.1-.5-.9-14.9-9.7-32-19.6l-31.1-18V97.2c0-28.6.2-34.3 1.4-34 .7.2 35.8 20.3 78 44.8l76.6 44.5v90.3c0 49.7-.3 90.1-.7 89.9-.5-.3-12.3-6.9-26.3-14.7-14-7.8-27.2-15.3-29.2-16.6L367 299l-.2-36.8c-.3-36.3-.3-36.7-2.3-36.6-2.3 0-71.5 39.4-75.3 42.8l-2.2 2 .2 45c.3 44.7.3 45.1 2.3 45 1.2 0 15.9-8 32.8-17.8l30.7-17.8 29.1 16.9c16 9.3 29.1 17.3 29.1 17.8.1.5-34.8 21.1-77.3 45.6l-77.4 44.7-5-2.8c-41.9-23.9-149.4-86.7-149.6-87.5-.1-.5 12.9-8.5 28.9-17.8l29.1-16.9 30.6 17.7c16.8 9.8 31.3 17.8 32.3 17.9 1.6.1 1.7-3.2 2-45.5.2-41.4.1-45.8-1.4-47-.9-.8-18.2-10.9-38.3-22.6-33-19.1-36.8-21.1-38.6-19.9-1.9 1.3-2 2.7-2.5 37.7l-.5 36.4-28 16.3c-15.4 9-28.6 16.6-29.2 16.9-1 .4-1.3-17.9-1.3-89.8v-90.4l77.8-44.7c42.7-24.6 78-44.7 78.5-44.8.4 0 .6 15.6.5 34.6z"
            ></path></svg
          >
          Creation games concept
        </li>
        <li class="text-neutral-content flex gap-2">
          <svg
            class="fill-current w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            version="1.0"
            viewBox="0 0 512 512"
            ><path
              d="M41.2 2c-9.7 2.6-17.3 7-24.8 14.4C8.9 24 4.5 31.5 2 41.6 0 49.2 0 53.1 0 256s0 206.8 2 214.4c2.5 10.1 6.9 17.6 14.4 25.2 7.6 7.5 15.1 11.9 25.2 14.4 7.6 2 11.5 2 214.4 2s206.8 0 214.4-2c10.1-2.5 17.6-6.9 25.2-14.4 7.5-7.6 11.9-15.1 14.4-25.2 2-7.6 2-11.5 2-214.4s0-206.8-2-214.4c-2.6-10.3-6.9-17.7-14.9-25.6-7.9-7.7-14.2-11.4-24.7-14-7.6-2-11.7-2-214.8-1.9C54.6.1 48.3.2 41.2 2zm200.6 95.6-.3 34.6-31 17.9c-21.1 12.2-31.1 18.5-31.3 19.8-.2 1.5 7.2 6.1 37.4 23.6 20.7 12 38.5 22 39.5 22.2 1.1.3 15.3-7.3 38.6-20.8 20.2-11.6 37.6-21.9 38.5-22.7 1.2-1 1.5-2 .9-3.1-.5-.9-14.9-9.7-32-19.6l-31.1-18V97.2c0-28.6.2-34.3 1.4-34 .7.2 35.8 20.3 78 44.8l76.6 44.5v90.3c0 49.7-.3 90.1-.7 89.9-.5-.3-12.3-6.9-26.3-14.7-14-7.8-27.2-15.3-29.2-16.6L367 299l-.2-36.8c-.3-36.3-.3-36.7-2.3-36.6-2.3 0-71.5 39.4-75.3 42.8l-2.2 2 .2 45c.3 44.7.3 45.1 2.3 45 1.2 0 15.9-8 32.8-17.8l30.7-17.8 29.1 16.9c16 9.3 29.1 17.3 29.1 17.8.1.5-34.8 21.1-77.3 45.6l-77.4 44.7-5-2.8c-41.9-23.9-149.4-86.7-149.6-87.5-.1-.5 12.9-8.5 28.9-17.8l29.1-16.9 30.6 17.7c16.8 9.8 31.3 17.8 32.3 17.9 1.6.1 1.7-3.2 2-45.5.2-41.4.1-45.8-1.4-47-.9-.8-18.2-10.9-38.3-22.6-33-19.1-36.8-21.1-38.6-19.9-1.9 1.3-2 2.7-2.5 37.7l-.5 36.4-28 16.3c-15.4 9-28.6 16.6-29.2 16.9-1 .4-1.3-17.9-1.3-89.8v-90.4l77.8-44.7c42.7-24.6 78-44.7 78.5-44.8.4 0 .6 15.6.5 34.6z"
            ></path></svg
          >
          Creating and fixing bugs
        </li>
      </ul>
    </div>
  </div>

  <div>
    <div>
      <h1 class="font-bold text-2xl inline">My Progress</h1>
      <a href="/projects" class="btn btn-sm rounded-full"
        >Go to Projects {"->"}</a
      >
      <p class="indent-6 mt-2">
        Hello! My name is Michael. I am 21 years old, studying at a technical
        university and developing games👾👾👾 2 years. The first year I was
        engaged in personal projects, while studying the Unity engine. For the
        second year, I was lucky to work with publishers, sell a few of my
        games, and also make a couple of games for bloggers!
      </p>
    </div>
  </div>

  <div>
    <div>
      <h1 class="font-bold text-2xl inline">Experience</h1>
      <a href="/posts" class="btn btn-sm rounded-full">Go to Posts {"->"}</a>
      <p class="indent-6 mt-2">
        Having a certain experience is an amazing property of human
        consciousness. With my games, I try to convey the experience to the
        players. And also I share the experience of creating games with other
        developers in my posts
      </p>
    </div>
  </div>

  <div>
    <h1 class="font-bold text-2xl inline">Links</h1>
    <ul class="space-y-1 ml-4 mt-4">
      <li>
        <a
          class="flex items-center gap-2 link link-hover max-w-max"
          href="https://github.com/"
          ><svg
            class="fill-current w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            ><path
              d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
            ></path></svg
          >@MichailLois</a
        >
      </li>
      <li>
        <a
          class="flex items-center gap-2 link link-hover max-w-max"
          href="https://youtube.com"
          ><svg
            class="fill-current w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            version="1.0"
            viewBox="0 0 512 512"
            ><path
              d="M192 63.1c-45 1-100 3.7-113.6 5.5-18.8 2.4-31.9 8-44.6 19.1-13.3 11.4-20.6 24.5-26.2 47C2.1 156.7.5 183.5.5 256c0 85.9 2.5 114.7 12.1 138.7 11.1 27.6 31.7 42.9 64.4 47.7 16.7 2.4 33.3 3.5 84 5.2 81.1 2.7 168.8 2 242.3-2.1 38.1-2.2 45.6-3.4 59.1-10.1 18.2-9.1 30.2-22.9 37.7-43.6 9.3-25.2 11.3-50 11.3-135.8 0-82.6-2.2-110.8-10.3-134.4-8.9-25.6-26.7-42.6-52.3-50-10.8-3.1-22.4-4.3-60.8-6.1-66.5-3.2-129.5-3.9-196-2.4zM314.2 93c57 1.4 113.8 4.4 123.3 6.6 8.4 2 14.4 4.9 21.1 10.2 6.5 5.1 10.6 11.6 14.3 22.7 6.8 20.4 8.6 46.9 8.5 125.5 0 81.7-1.9 103.7-10.5 126-6.3 16.5-17.7 25.5-36.3 29.1-6.3 1.2-48.9 3.5-90.6 5-42.4 1.4-123.2 1.5-168 0-90.8-2.9-105.6-4.7-119.9-14.2-8-5.3-12.6-11.8-16.7-23.7-7-20.3-8.9-46.8-8.9-124.2 0-76.6 1.8-101.8 8.7-122.3 3.8-11.4 6.6-16.3 12.6-21.9 11.8-11.1 19.6-13.3 54.2-15.3 65-3.8 139.7-5 208.2-3.5z"
            ></path><path
              d="M203.4 170.4c-4.6 2.1-10 8.1-11.3 12.9-.9 3-1.1 22.1-.9 69.9l.3 65.6 3 4.4c4.3 6 10.5 9.3 17.7 9.2 5.4-.1 7.6-1.1 64-31.4 32-17.2 59.6-32.3 61.1-33.4 4.7-3.4 7.9-9.8 7.9-15.8.1-6.9-2-11.7-6.8-15.7-2.2-1.8-24.8-14.7-50.4-28.8-72.3-39.6-69.8-38.3-76.1-38.3-3 .1-6.8.7-8.5 1.4zm63.1 59.4c19.3 10.6 35.9 19.7 36.8 20.4 1.5 1.1-3.9 4.3-39.8 23.5-22.8 12.3-41.7 22.3-42 22.3-.3 0-.5-20.5-.5-45.6v-45.6l5.3 3c2.8 1.6 21 11.5 40.2 22z"
            ></path></svg
          >@MichailLois</a
        >
      </li>
      <li>
        <a
          class="flex items-center gap-2 link link-hover max-w-max"
          href="https://instagram.com"
          ><svg
            class="fill-current w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            version="1.0"
            viewBox="0 0 512 512"
            ><path
              d="M160.9 1c-33 1.4-55.6 5.6-74.7 13.8-17.9 7.7-28.5 14.8-41.7 27.9C26.7 60.4 15.6 80.3 8.6 107 2.4 130.6 1 157.7 1 256c0 96.7 1.3 124.1 7.1 147.7 14.4 58.7 57.4 96.1 120.7 104.8 18.1 2.4 56.1 3.5 128.7 3.5 67.5 0 106.4-1 123.9-3.1 35.8-4.2 63.8-16.6 85.9-37.8 24.9-24 38.1-52.7 42.9-93.6 1.9-16 1.9-229.4 0-244.5-3.9-30.6-13-55.8-27.4-75.1-7.1-9.6-22.3-24.1-31.8-30.6-21.5-14.5-47.4-22.5-81.5-25.4C353.4.6 188.2-.1 160.9 1zm216.3 48.3c28.5 4.2 44.5 11.3 59.9 26.6 10 10 15.5 18.8 20.4 32.4 8.2 23 9 35.2 9 148.2 0 65.1-.4 96.4-1.3 106.9-2.9 34.7-9.8 53.4-26 70.7-16.9 18-38 26.9-70.7 29.9-17.7 1.7-164 2.5-197.7 1.1-15.2-.6-31.1-1.6-35.4-2.2-18.9-2.6-37.2-9.3-48.6-17.6-7.1-5.3-18.5-17.7-22.7-24.7-8.4-14-13.4-33.7-15.1-58.7-3-45.4-2-201.2 1.4-227C54 108.2 62.3 90.2 78 75c17.2-16.7 39.8-24.8 74.8-27 7.6-.4 58.7-.7 113.7-.5 85.3.2 101.6.4 110.7 1.8z"
            ></path><path
              d="M380.2 92c-11.3 5.7-16.7 14.5-16.7 27.5 0 9.4 2.2 15 8.6 21.4 6.4 6.3 12 8.6 21.4 8.6 6.7 0 8.9-.4 13.7-2.8 10.1-5 15.8-13.7 16.6-25.3.7-10.3-1.6-16.3-8.7-23.5-6.6-6.6-12.4-8.9-22.1-8.9-5.4 0-7.8.6-12.8 3zM233.6 126.6c-26.3 4.8-49.6 17.1-69.2 36.8-26 25.9-38.5 56.2-38.5 92.6 0 22 4.1 40.1 13.2 58.3 28 55.6 89.6 84.1 149.5 69.2 23.6-5.9 41.8-16.1 59.5-33.2 15.9-15.4 26.6-32.2 33.3-52.3 4.8-14.5 6.6-25.7 6.6-42 0-16.2-1.8-27.5-6.5-41.7-6.4-19.2-15.7-34.4-30.2-49.4-19.8-20.4-44.5-33.6-71.7-38.4-11.1-1.9-35.2-1.9-46 .1zm39.6 45.8c45.8 8.8 76.2 53.8 67.4 99.9-5.4 27.9-25.9 52.7-52.1 62.8-12.8 5-20.2 6.2-35 5.6-10.5-.4-14.6-1-21.5-3.2-30.3-9.6-52.4-34.1-58.6-64.9-2.4-11.9-1.5-30.4 2.1-41.6 9.4-29.8 34.5-52.5 64.4-58.5 8.9-1.8 24.3-1.8 33.3-.1z"
            ></path></svg
          >@MichailLois</a
        >
      </li>
    </ul>
  </div>
</Layout>

<style>
  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret 2s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
</style>
