---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";

interface Frontmatter {
  title: string;
  description: string;
  image: string;
}

let posts;

try {
  posts = await Astro.glob<Frontmatter>("./posts/*.md");
} catch (error) {}
---

<Layout title="Michail Lois">
  <div>
    <h1 class="font-bold text-3xl inline-block mb-4">Topical Games</h1>
    {
      posts?.map((post) => (
        <Project
          description={post.frontmatter.description}
          href={post.url || "/404"}
          image={post.frontmatter.image}
          title={post.frontmatter.title}
        />
      ))
    }
  </div>
</Layout>
